@using System.Collections.Generic;
@using CourseDiscusions.WebClient.Models;

@model IEnumerable<CourseViewModel>

@{
    ViewBag.Title = $"Courses for {User.Identity.Name}";
}

@if (!Model.Any())
{
    <h2>No courses to display</h2>
}
else
{
    <h2>Courses</h2>
}



